.sign-up-container {
  box-shadow: 0 2px 10px #eff0fd;

  // display: flex;
  // flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
  padding: 25px;
  h2 {
    margin: 10px 0;
  }
}
